In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\puzzl\Desktop\공모전\문화관광빅데이터분석대회\data\국민여행조사_변수추출.csv', encoding = 'cp949')

In [6]:
df2 = df.drop_duplicates(subset = ['ID','시군구'])

In [5]:
df2.groupby

(29622, 5)

In [9]:
df3 = df2.drop(columns='ID')

In [10]:
df3

         시군구  A10  A11  A12
0      32070  5.0  4.0  4.0
1      39020  5.0  5.0  5.0
2      32030  5.0  5.0  4.0
3      32030  5.0  5.0  4.0
4      32010  5.0  4.0  3.0
...      ...  ...  ...  ...
29540  39020  4.0  4.0  4.0
29542  39020  4.0  4.0  4.0
29550  39020  4.0  4.0  4.0
29584  39010  5.0  4.0  4.0
29612  39010  4.0  4.0  4.0

[19659 rows x 4 columns]

In [12]:
df4 = pd.DataFrame(df3.groupby('시군구').mean())

In [13]:
df4

            A10       A11       A12
시군구
11010  4.195652  3.949275  3.992754
11020  4.142857  4.125000  3.982143
11030  4.038462  3.923077  3.961538
11040  4.187500  4.125000  3.750000
11050  4.111111  4.000000  3.888889
...         ...       ...       ...
38380  4.230769  4.153846  4.076923
38390  4.186047  4.023256  3.976744
38400  4.220779  4.155844  3.974026
39010  4.363234  4.230343  4.114064
39020  4.368363  4.240044  4.131637

[227 rows x 3 columns]

In [14]:
df4.to_csv(r'C:\Users\puzzl\Desktop\공모전\문화관광빅데이터분석대회\data\국민여행조사_전처리.csv', encoding = 'cp949')