Feature Engineering 실습(germany credit)

Feature Engineering
- 독일인 개인별 경제 Profile 데이터를 기반 실습 진행

실습
- Data Load
- Data Analysis
- Feature Selection
- Feature Sampling
- Data Scaling & Encoding

In [8]:
# library for feature engineering and EDA
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from mpl_toolkits.mplot3d import proj3d
from IPython.display import Image
from datetime import datetime

# library for statistic
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.stats import kruskal
from scipy.stats import skew
from scipy.stats import kurtosis
from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt

# library for sampling
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.utils.class_weight import compute_sample_weight
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

1. Data Processing 1

1.1 Data Load

In [24]:
df = pd.read_csv('C:/Users/puzzl/Desktop/성민/MLOps/part2/Chapter 1. 머신러닝 상품화 모델을 만들기 위한 실전 여정들\실습 자료/Ch02-14. Feature Engineering/clip14_Feature Engineering/data/german_credit_risk_data.csv', sep = ';')
df.head()

,Creditability,Account_Balance,Duration_of_Credit_monthly,Payment_Status_of_Previous_Credit,Purpose,Credit_Amount,Value_Savings_Stocks,Length_of_current_employment,Instalment_per_cent,Sex_Marital_Status,...,Duration_in_Current_address,Most_valuable_available_asset,Age_years,Concurrent_Credits,Type_of_apartment,No_of_Credits_at_this_Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [14]:
df.columns

Index(['Creditability', 'Account_Balance', 'Duration_of_Credit_monthly',
       'Payment_Status_of_Previous_Credit', 'Purpose', 'Credit_Amount',
       'Value_Savings_Stocks', 'Length_of_current_employment',
       'Instalment_per_cent', 'Sex_Marital_Status', 'Guarantors',
       'Duration_in_Current_address', 'Most_valuable_available_asset',
       'Age_years', 'Concurrent_Credits', 'Type_of_apartment',
       'No_of_Credits_at_this_Bank', 'Occupation', 'No_of_dependents',
       'Telephone', 'Foreign_Worker'],
      dtype='object')

1.2 Duplicated Data 확인
- 중복된 데이터를 확인해야 하는 이유 : 데이터에 문제가 있는지 확인해야 하고 중복된 데이터가 많으면 수집시스템에 문제가 있거나 데이터 필드 자체가 잘못되어 있을 수 있기 때문에 중복된 데이터를 확인하는건 매우 중요하다

In [16]:
# 중복된 데이터 확인
print("중복된 항목 수 : ", len(df[df.duplicated()]))

중복된 항목 수 :  0

2. Data EDA

2.1 Data Type and Summary

In [25]:
# dtype이 int64 여도 수치형이 아닐수도있다 (카테고리형일 수 있음)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   int64
 1   Account_Balance                    1000 non-null   int64
 2   Duration_of_Credit_monthly         1000 non-null   int64
 3   Payment_Status_of_Previous_Credit  1000 non-null   int64
 4   Purpose                            1000 non-null   int64
 5   Credit_Amount                      1000 non-null   int64
 6   Value_Savings_Stocks               1000 non-null   int64
 7   Length_of_current_employment       1000 non-null   int64
 8   Instalment_per_cent                1000 non-null   int64
 9   Sex_Marital_Status                 1000 non-null   int64
 10  Guarantors                         1000 non-null   int64
 11  Duration_in_Current_address        1000 non-null   int64
 12  Most_valuable_available_asset      1000 non-null   int64
 13  Age_years                          1000 non-null   int64
 14  Concurrent_Credits                 1000 non-null   int64
 15  Type_of_apartment                  1000 non-null   int64
 16  No_of_Credits_at_this_Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   int64
 18  No_of_dependents                   1000 non-null   int64
 19  Telephone                          1000 non-null   int64
 20  Foreign_Worker                     1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

In [18]:
df.columns

Index(['Creditability', 'Account_Balance', 'Duration_of_Credit_monthly',
       'Payment_Status_of_Previous_Credit', 'Purpose', 'Credit_Amount',
       'Value_Savings_Stocks', 'Length_of_current_employment',
       'Instalment_per_cent', 'Sex_Marital_Status', 'Guarantors',
       'Duration_in_Current_address', 'Most_valuable_available_asset',
       'Age_years', 'Concurrent_Credits', 'Type_of_apartment',
       'No_of_Credits_at_this_Bank', 'Occupation', 'No_of_dependents',
       'Telephone', 'Foreign_Worker'],
      dtype='object')

In [19]:
# categorical and numeric columns
for column_name in list(df.columns):
    print(column_name, df[column_name].dtype, df[column_name].unique())

Creditability int64 [1 0]
Account_Balance int64 [1 2 4 3]
Duration_of_Credit_monthly int64 [18  9 12 10  8  6 24 11 30 48 36 15 42 21 27 33 28  4 47 14 39 60  5 22
 54 13 16  7 20 26 45 72 40]
Payment_Status_of_Previous_Credit int64 [4 2 3 0 1]
Purpose int64 [ 2  0  9  3  1 10  5  4  6  8]
Credit_Amount int64 [ 1049  2799   841  2122  2171  2241  3398  1361  1098  3758  3905  6187
  1957  7582  1936  2647  3939  3213  2337  7228  3676  3124  2384  1424
  4716  4771   652  1154  3556  4796  3017  3535  6614  1376  1721   860
  1495  1934  3378  3868   996  1755  1028  2825  1239  1216  1258  1864
  1474  1382   640  3919  1224  2331  6313   385  1655  1053  3160  3079
  1163  2679  3578 10875  1344  1237  3077  2284  1567  2032  2745  1867
  2299   929  3399  2030  3275  1940  1602  1979  2022  3342  5866  2360
  1520  3651  2346  4454   666  1965  1995  2991  4221  1364  6361  4526
  3573  4455  2136  5954  3777   806  4712  7432  1851  1393  1412  1473
  1533  2012  3959   428  2366   763  3976  6260  1919  2603   936  3062
  4795  5842  2063  1459  1213  5103   874  2978  1820  2872  1925  2515
  2116  1453  1543  1318  2325   932  3148  3835  3832  5084  2406  2394
  2476  2964  1262  1542  1743   409  8858  3512  1158  2684  1498  6416
  3617  1291  1275  3972  3343   392  2134  5771  2788  5848  1228  1297
  1552  1963  3235  4139  1804  1950 12749  1236  1055  8072  2831  1449
  5742  2390  3430  2273  2923  1901  3711  8487  2255  7253  6761  1817
  2141  3609  2333  7824  1445  7721  3763  4439  1107  1444 12169  2753
  1494  2828  2483  1299  1549  3949  2901   709 10722  1287  3656  4679
  8613  2659  1516  4380   802  1572  3566  1278   426  8588  3857   685
  1603   601  2569  1316 10366  1568   629  1750  3488  1800  4151  2631
  5248  2899  6204   804  3595  5711  2687  3643  2146  2315  3448  2708
  1313  1493  2675  2118   909  1569  7678   660  2835  2670  3447  3568
  3652  3660  1126   683  2251  4675  2353  3357   672   338  2697  2507
  1478  3565  2221  1898   960  8133  2301   983  2320   339  5152  3749
  3074   745  1469  1374   783  2606  9436   930  2751   250  1201   662
  1300  1559  3016  1360  1204  1597  2073  2142  2132  1546  1418  1343
  2662  6070  1927  2404  1554  1283   717  1747  1288  1038  2848  1413
  3632  3229  3577   682  1924   727   781  2121   701  2069  1525  7629
  3499  1346 10477  2924  1231  1961  5045  1255  1858  1221  1388  2279
  2759  1410  1403  3021  6568  2578  7758   343  1591  3416  1108  5965
  1514  6742  3650  3599 13756   276  4041   458   918  7393  1225  2812
  3029  1480  1047  1471  5511  1206  6403   707  1503  6078  2528  1037
  1352  3181  4594  5381  4657  1391  1913  7166  1409   976  2375   522
  2743  5804  1169   776  1322  1175  2133  1829 11760  1501  1200  3195
  4530  1555  2326  1887  1264   846  1532   935  2442  3590  2288  5117
 14179  1386   618  1574   700   886  4686   790   766  2212  7308  5743
  3973  7418  2629  1941  2445  6468  7374  3812  4006  7472  2028  5324
  2323  1984   999  7409  2186  4473   937  3422  3105  2748  3872  5190
  3001  3863  5801  1592  1185  3780  3612  1076  3527  2051  3331  3104
  2611  1311  2108  4042   926  1680  1249  2463  1595  2058  7814  1740
  1240  6842  5150  1203  2080  1538  3878  3186  2896  6967  1819  5943
  7127  3349 10974   518  1860  9566  2930  1505  2238  2197  1881  1880
  2389  1967  3380  1455   730  3244  1670  3979  1922  1295  1544   907
  1715  1347  1007  1402  2002  2096  1101   894  1577  2764  8358  5433
  3485  3850  7408  1377  4272  1553  9857   362  1935 10222  1330  9055
  7966  3496  6948 12204  3446   684  4281  7174  2359  3621   741  7865
  2910  5302  3620  3509  1657  1164  6229  1193  4583  5371   708   571
  2522  5179  8229  1289  2712   975  1050   609  4788  3069   836  2577
  1620  1845  6579  1893 10623  2249  3108   958  9277  6314  1526  6615
  1872  2859  1582  1238  1433  7882  4169  3249  3149  2246  1797  2957
  2348  6289  6419  6143 15857  2223  7238  2503  2622  4351   368   754
  2424  6681  2427   753  2576   590  1414  1103   585  1068   713  1092
  2329   882   866  2415  2101  1301  1113   760   625  1323  1138  1795
  2728   484  1048  1155  7057  1537  2214  1585  1521  3990  3049  1282
 10144  1168   454  3594  1768 15653  2247  4576  8335  5800  8471  3622
  2181  7685  6110  3757  3394  6304  1244  3518  2613  7476  4591  5595
  6224  1905  2993  8947  4020  2779  2782  1884 11054  9157  9283  6527
  3368  2511  5493  1338  1082  1149  1308  6148  1736  3059  2996  7596
  4811  1766  2760  5507  1199  2892  2862   654  1136  4113 14555   950
  2150  2820  3060  2600  5003  6288  2538  4933  1530  1437  1823  1422
  1217  9271  2145  1842  4297  3384  1245  4623  8386  1024 14318   433
  2149  2397   931  1512  4241  4736  1778  2327  6872   795  1908  1953
  2864  2319   915   947  1381  1285  1371  1042   900  1207  2278  6836
  3345  1198 15672  7297  1943  3190  5129  1808   759  1980 10961  6887
  1938  1835  1659  1209  3844  4843   639  5951  3804  4463  7980  4210
  4611 11560  4165  4057  6458  1977  1928  1123 11328 11938  2520 14782
  2671 12612  3031   626  3931  2302  3965  3914  4308  1534  2775  5998
  1271  9398   951  1355  3051  7855  9572  1837  4249  5234  6758  1366
  1358  2473  1337  7763  6560  3123  8065  2439  9034 14027  9629  1484
  1131  2064 12976  2580  2570  3915  1309  4817  2579  2225  4153  3114
  2124  1333  7119  4870   691  4370  2746  4110  2462  2969  4605  6331
  3552   697  1442  5293  3414  2039  3161   902 10297 14421  1056  1274
  1223  1372  2625  2235   959   884  1246  8086 10127   888   719 12389
  6850  2210  7485   797  4746   939  1188 11590  1190  2767  3441  4280
  3092  1331 15945  3234  9960  8648  1345  1647  4844  8318  2100 11816
   448 11998 18424 14896  2762  3386  2169  5096  1882  6999  2292  8978
   674  2718   750 12579  7511  3966  6199  1987  2303 12680  6350]
Value_Savings_Stocks int64 [1 2 3 5 4]
Length_of_current_employment int64 [2 3 4 1 5]
Instalment_per_cent int64 [4 2 3 1]
Sex_Marital_Status int64 [2 3 4 1]
Guarantors int64 [1 3 2]
Duration_in_Current_address int64 [4 2 3 1]
Most_valuable_available_asset int64 [2 1 3 4]
Age_years int64 [21 36 23 39 38 48 40 65 24 31 44 25 37 49 33 26 51 29 56 47 34 28 41 58
 61 30 63 27 45 43 52 22 60 32 35 42 59 54 64 46 74 50 20 55 53 19 57 66
 68 70 67 75 62]
Concurrent_Credits int64 [3 1 2]
Type_of_apartment int64 [1 2 3]
No_of_Credits_at_this_Bank int64 [1 2 3 4]
Occupation int64 [3 2 1 4]
No_of_dependents int64 [1 2]
Telephone int64 [1 2]
Foreign_Worker int64 [1 2]

In [26]:
# categorical -> object
# unique value와 data description을 함께 확인하며, heuristic 하게 결정
list_casting_as_object = ['Creditability', 'Account_Balance', 'Payment_Status_of_Previous_Credit',
                          'Purpose', 'Length_of_current_employment','Sex_Marital_Status', 'Guarantors',
                          'Duration_in_Current_address', 'Most_valuable_available_asset','Concurrent_Credits',
                          'Type_of_apartment','Occupation', 'No_of_dependents','Telephone', 'Foreign_Worker']
for column_name in list_casting_as_object:
    df[column_name] = df[column_name].astype('object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Creditability                      1000 non-null   object
 1   Account_Balance                    1000 non-null   object
 2   Duration_of_Credit_monthly         1000 non-null   int64
 3   Payment_Status_of_Previous_Credit  1000 non-null   object
 4   Purpose                            1000 non-null   object
 5   Credit_Amount                      1000 non-null   int64
 6   Value_Savings_Stocks               1000 non-null   int64
 7   Length_of_current_employment       1000 non-null   object
 8   Instalment_per_cent                1000 non-null   int64
 9   Sex_Marital_Status                 1000 non-null   object
 10  Guarantors                         1000 non-null   object
 11  Duration_in_Current_address        1000 non-null   object
 12  Most_valuable_available_asset      1000 non-null   object
 13  Age_years                          1000 non-null   int64
 14  Concurrent_Credits                 1000 non-null   object
 15  Type_of_apartment                  1000 non-null   object
 16  No_of_Credits_at_this_Bank         1000 non-null   int64
 17  Occupation                         1000 non-null   object
 18  No_of_dependents                   1000 non-null   object
 19  Telephone                          1000 non-null   object
 20  Foreign_Worker                     1000 non-null   object
dtypes: int64(6), object(15)
memory usage: 164.2+ KB

In [35]:
list_categorocal_columns = list(df.select_dtypes(include=['object']).columns)
list_numeric_columns = list(df.select_dtypes(include=['int64']).columns)
print("컬럼의 수 :", len(df.columns))
print("범주형 컬럼의 수 :",len(list_categorocal_columns))
print("수치형 컬럼의 수 :",len(list_numeric_columns))

컬럼의 수 : 21
범주형 컬럼의 수 : 15
수치형 컬럼의 수 : 6

In [36]:
target_column = 'Creditability'

2.2 Dependent(종속) Data Explore