In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\puzzl\Desktop\공모전\문화관광빅데이터분석대회\data\국민여행조사_변수추출.csv', encoding = 'cp949')

In [6]:
df2 = df.drop_duplicates(subset = ['ID','시군구'])

In [5]:
df2.groupby

(29622, 5)

In [9]:
df3 = df2.drop(columns='ID')

In [8]:
df2.groupby('시군구').mean()

C:\Users\puzzl\AppData\Local\Temp\ipykernel_22524\716786606.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby('시군구').mean()

            A10       A11       A12
시군구
11010  4.195652  3.949275  3.992754
11020  4.142857  4.125000  3.982143
11030  4.038462  3.923077  3.961538
11040  4.187500  4.125000  3.750000
11050  4.111111  4.000000  3.888889
...         ...       ...       ...
38380  4.230769  4.153846  4.076923
38390  4.186047  4.023256  3.976744
38400  4.220779  4.155844  3.974026
39010  4.363234  4.230343  4.114064
39020  4.368363  4.240044  4.131637

[227 rows x 3 columns]